.container {
  max-width: 1600px;
  margin: 0 auto;
  background: linear-gradient(
    340deg,
    rgba(0, 0, 0, 0.93) 11.2%,
    rgb(67, 67, 67) 78.9%
  );
}
header {
  max-width: 1400px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)),
    url("../imiges/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 260px 0;
  color: white;
}
header h1 {
  font-family: Playfair Display;
  font-size: 128px;
  font-style: normal;
  font-weight: 900;
  color: rgb(232, 2, 131);
}
header h2 {
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
}
header h3 {
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
header a {
  font-family: Roboto;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: white;
  background-color: rgb(232, 2, 131);
  padding: 16px 32px;
  border-radius: 40px;
}
footer {
  font-family: Poppins;
  color: white;
  text-align: center;
  padding: 20px 20;
  background-color: rgba(0, 0, 0);
  padding: 60px 20px;
  background-image: linear-gradient(
      240deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 1)
    ),
    url("../imiges/hero3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section {
  max-width: 1400px;
  margin: O auto;
  padding: 20px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
footer h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 100;
  font-family: Playfair Display;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-my-inhumation p {
  text-align: justify;
}

footer a {
  color: rgb(232, 2, 131);
  text-decoration: none;
}
.footer-inhumations {
  display: grid;
}

@media (max-width: 900px) {
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
}
